<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    /> -->
    <script src="https://cdn.rawgit.com/hammerjs/touchemulator/master/touch-emulator.js"></script>
    <title>Hello Electron React!</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    TouchEmulator();
    // window.electron.ipcRenderer.once('ipc-example', (arg) => {
    //   console.log(arg);
    // });

    // window.electron.ipcRenderer.myPing();
  </script>
</html>
